@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif; 
}

body {
    background: url(.assets/Desktop.png)

}

/* HEADER */

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    list-style: none;
    gap: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
    gap: 50px;
    padding: 80px;
}

ul a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
 
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-info {
    gap: 30px;
    display: flex; 
    flex-direction: column;
    margin-left: 200px;
}

.hero-info h1 {
    color: #fafafa;
    font-size: 50px;
}

.hero-info p {
    color: #ffffff;
    gap: 30px;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
}

.hero-info a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: #fafafa;
    border-style: solid;
    border-width: 1px;
    width: 120px;
    padding: 4px 0px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}

.card {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 30px;
    gap: 50%;

}

.photo {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 20px;
    
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: #ffffff;
    font-size: 12px;
}

/* TITLE */

#title{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.title2 {
    gap: 30px;
}

.title2 h2 {
    text-align: center;
    color: #93EEE9;
    font-size: 30px;
}

.title2 p {
    margin: 0 200px;
    text-align: justify;
    color: #ffffff;
    gap: 50px;
    font-size: 16px;
    padding: 40px;
    line-height: 40px;
}

/* VENTAJAS */

.ventajas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-top: 100px;
}

.ventajas h2 {
    color: #D693EE;
    font-size: 30px;
    margin-top: 20px;
}

.ventajas p {
    color: #fafafa;
    font-size: 18px;
}

/* CAJAS */

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
    margin-top: 55px;
    gap: 70px;
    width: 100%;
}

.caja-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.caja {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 300px;
    height: 260px;
    border-radius: 20px;
    border-color: #fafafa;
    border-style: solid;
    border-width: 1px;
    margin: 0px 60px;
}

.caja-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    gap: 30px;
    text-align: center;
    color: #ffffff;
  }

.caja-info h3 {
    font-size: 25px;
    font-weight: 30%;
    text-align: center;
}

.caja-info p {
    font-weight: 30%;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

/* CONTACTO */

.contact {
    margin-top: 100px;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    gap: 80px;
    line-height: 55px;
    margin-left: 30px;
}

.info-contacto h3 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 20px;
}

.info-contacto ul p {
    color: #ffffff;
    letter-spacing: 1px;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
}

.info-contacto ul a {
    text-decoration: underline;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 1px;
}

.seccion {
    display: flex;
    justify-content: center;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    padding-bottom: 100px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #363636;
    margin: 100px;
    line-height: 40px;
}

footer h3 {
    font-size: 14px;
}

footer p {
    font-size: 12x;
}