@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

body {
    background: #131415;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff9180;
    padding: 50px;
    height: 100px;
    padding-left: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 80px;
}

ul a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 20px;
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero {
    margin: 50px;
    padding: 20px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-info {
    gap: 30px;
    display: flex; 
    flex-direction: column;
}

.hero-info h1 {
    color: #fafafa;
    font-size: 90px;
}

.hero-info p {
    color: #ffffff;
    gap: 30px;
    font-size: 25px;
    line-height: 40px;
    text-align: justify;
}

.hero-info a {
    color: rgb(255, 255, 255);
    background-color: #ff9180;
    width: 200px;
    padding: 8px 0px;
    border-radius: 13px;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.card {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 30px;
    gap: 50%;

}

.photo {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 20px;
    
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    color: #ffffff;
}

#title{    
    margin: 50px;
    margin-left: 800px;
    padding: 20px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.title2 {
    gap: 30px;

}

.title2 h2 {
    text-align: center;
    color: #fafafa;
    font-size: 40px;
}

.title2 p {
    text-align: justify;
    color: #ffffff;
    gap: 50px;
    font-size: 25px;
    padding: 40px;
    line-height: 40px;
}